In [1]:
using Pkg
Pkg.add("SymPy")

    Updating registry at `~/.julia/registries/General`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.6/Project.toml`
  No Changes to `~/.julia/environments/v1.6/Manifest.toml`

In [8]:
using SymPy

In [11]:
x=Sym("x")
y=Sym("y")

expr=x+2*y


x*y
typeof(x)

Sym

In [5]:
using Pkg
Pkg.add("Symbolics")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.6/Project.toml`
  No Changes to `~/.julia/environments/v1.6/Manifest.toml`

In [6]:
using Symbolics
@variables x y
typeof(y)

Num

In [13]:
typeof(1.0)

Float64

# key generation

In [4]:
function poly_n_variables(n)
    K=[]#an array; push! to add to the end of array
    for i in 1:n
        x="x"*string(i)#string concatenation using *; convert int to string using string()
        push!(K,x)
    end
    K
end

poly_n_variables(12)

12-element Vector{Any}:
 "x1"
 "x2"
 "x3"
 "x4"
 "x5"
 "x6"
 "x7"
 "x8"
 "x9"
 "x10"
 "x11"
 "x12"

In [38]:
for i in 1:10
    println(rand(["apple", "banana", "cherry", "date"]))
end

apple
apple
apple
apple
date
apple
banana
apple
cherry
apple

In [149]:
#t monomials
#bound the degree of monials by b
#coefficients go from 1 to q-1(inclusive)
function sparse_polynomial(n,t,b,q)
    K=poly_n_variables(n)
    
    sparse_poly=0
    
    B=[]
    for i in 1:t#we want t monomials
        deg=rand(1:b)#generate an int between 1 and b, inclusive
        monomial_d=1
        for j in 1:deg
            monomial_d*=Sym(rand(K))
        end
        while monomial_d in B
            for j in 1:deg
                monomial_d*=Sym(rand(K))
            end
        end
        push!(B,monomial_d)
    end
    for i in B
        sparse_poly+=i*rand(1:(q-1))
    end
    sparse_poly
end
A=sparse_polynomial(4,5,3,6)

3⋅x₁⋅x₂ + 3⋅x₁⋅x₃⋅x₄ + 4⋅x₁ + 4⋅x₂ + x₄

# generate the matrix

In [158]:
function identity_matrix(n)
    A=
    for i in 1:n
        A[i,i]=1
    end
    A
end
identity_matrix(4)[1,1]=sparse_polynomial(4,5,3,6)

LoadError: PyError (ccall(#= /Users/jchen056/.julia/packages/PyCall/twYvK/src/conversions.jl:59 =# @pysym(:PyFloat_AsDouble), Cdouble, (PyPtr,), po)) <class 'TypeError'>
TypeError('Cannot convert expression to float')
  File "/Users/jchen056/.julia/conda/3/x86_64/lib/python3.10/site-packages/sympy/core/expr.py", line 351, in __float__
    raise TypeError("Cannot convert expression to float")

In [165]:
zeros(4,4)
I(4)

LoadError: UndefVarError: I not defined